# Limpieza de datos

## Instalacion de Librerias para manipular Datos
## Primero Instalamos la libreria Pandas

In [ ]:
pip install pandas

## Despues de Instalar Pandas
## Mandamos llamar Pandas con la siguiente Instrucción

In [ ]:
import pandas as pd

### Mi Base de Datos llamada data

# Aquí creamos nuestra Base de Datos con el nombre data

In [ ]:
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis','María', 'Pedro'],
    'Edad': [25, 32, None, 42, 28, None 32,],
    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020', None, '31/01/2020'],
    'Género': ['M', 'F', None, 'F', 'M', None, 'F'],
    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona', 'Madrid', None],
    'Altura': [175, 163, 180, 158, 170, 180, 163],
    'Peso': [70, None, 80, 60, 75, 80, None],
    'Ingresos': [50000, 60000, 40000, None, 55000, 40000, 60000]
}