# Limpieza de datos

## Instalacion de Librerias para manipular Datos
## Primero Instalamos la libreria Pandas

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mapko\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mapko\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mapko\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\mapko\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mapko\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\mapko\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: C:\Users\mapko\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

## Despues de Instalar Pandas
## Mandamos llamar Pandas con la siguiente Instrucción

In [7]:
import pandas as pd

### Mi Base de Datos llamada data

### Aquí creamos nuestra Base de Datos con el nombre "data"

In [33]:
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis','María', 'Pedro','Tony','Luis', 'María', 'Marco', 'Ana'],
    'Edad': [25, 32, None, 42, 28, None, 32, 18, 28, 32, 57,42],
    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020', None, '31/01/2020', '14/06/2015','01/31/2020', '31/01/2020', None, '31/01/2020'],
    'Género': ['M', 'F', None, 'F','M', None, 'F',None,'M', 'F','M', 'F'],
    'Ciudad': ['Madrid',None,'Madrid','Valencia','Barcelona', 'Madrid', None, 'México','Barcelona',None,None,'Valencia'],
    'Altura': [175, 163, 180, 158, 170, 180, 163,168,170, 163,179, 158],
    'Peso': [70, None, 80, 60, 75, 80, None,None,75, None, None, 60],
    'Ingresos': [50000, 60000, 40000, None, 55000, 40000, 60000,75000, 55000, 60000,None, None]
}

### Ahora vamos a crear nuestro DataFrame con nuestra Base de Datos llama "data"

In [34]:
df = pd.DataFrame(data)

print(df)

   Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0    Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1   María  32.0  31/01/2020      F       None     163   NaN   60000.0
2   Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3     Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
5   María   NaN        None   None     Madrid     180  80.0   40000.0
6   Pedro  32.0  31/01/2020      F       None     163   NaN   60000.0
7    Tony  18.0  14/06/2015   None     México     168   NaN   75000.0
8    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
9   María  32.0  31/01/2020      F       None     163   NaN   60000.0
10  Marco  57.0        None      M       None     179   NaN       NaN
11    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN

### Ahora vamos mostrar nuestro DataFrame

In [35]:
df

   Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0    Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1   María  32.0  31/01/2020      F       None     163   NaN   60000.0
2   Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3     Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
5   María   NaN        None   None     Madrid     180  80.0   40000.0
6   Pedro  32.0  31/01/2020      F       None     163   NaN   60000.0
7    Tony  18.0  14/06/2015   None     México     168   NaN   75000.0
8    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
9   María  32.0  31/01/2020      F       None     163   NaN   60000.0
10  Marco  57.0        None      M       None     179   NaN       NaN
11    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN

### Ahora vamos mostrar nuestro primeros 5 regsitros de nuestro DataFrame

In [36]:
df.head()

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  María  32.0  31/01/2020      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

### Ahora vamos mostrar nuestro ultimos 5 regsitros de nuestro DataFrame

In [37]:
df.tail()

   Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
7    Tony  18.0  14/06/2015   None     México     168   NaN   75000.0
8    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
9   María  32.0  31/01/2020      F       None     163   NaN   60000.0
10  Marco  57.0        None      M       None     179   NaN       NaN
11    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN

### Ahora vamos mostrar la Información de DataFrame

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    12 non-null     object
 1   Edad      10 non-null     float64
 2   Fecha     9 non-null      object
 3   Género    9 non-null      object
 4   Ciudad    8 non-null      object
 5   Altura    12 non-null     int64
 6   Peso      7 non-null      float64
 7   Ingresos  9 non-null      float64
dtypes: float64(3), int64(1), object(4)
memory usage: 896.0+ bytes

### Ahora vamos desplegar los registros que tienen sus datos completos en nuestro DataFrame
### Creamos un nuevo DataFrame llamado df_sin_vacios y lo desplegamos para verificar los registros completos.
### Primero desplegamos nuestro DataFrame

In [39]:
df

   Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0    Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1   María  32.0  31/01/2020      F       None     163   NaN   60000.0
2   Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3     Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
5   María   NaN        None   None     Madrid     180  80.0   40000.0
6   Pedro  32.0  31/01/2020      F       None     163   NaN   60000.0
7    Tony  18.0  14/06/2015   None     México     168   NaN   75000.0
8    Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
9   María  32.0  31/01/2020      F       None     163   NaN   60000.0
10  Marco  57.0        None      M       None     179   NaN       NaN
11    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN

In [45]:
df_sin_vacios = df.dropna()

print(df_sin_vacios.to_string())

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0
8   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0